

#navbar .ui-btn-text {
	font-size:1.5em;
}
#navbar .ui-btn-inner {
	padding: 1em 0  1.1em 0;
}



#content .ui-bar-c {
	background:none;
	
}
.ui-bar-c

{
background-image:none;
font-size:1em;
margin-top:1em 0 0 0;
}


#target_list
{
	margin-top:5%;
}


#content input.ui-input-text
{
	font-size:1em;
	
}


.control_row {
	width:100%;
	margin:1em 0 1em 0;
}
#the_remote_content {/*
padding: 0 1em 0 1em;
position: absolute;
top: 5em;
left: 0;
right: 0;
bottom: 0;*/

}
#the_remote_content label
{
	margin-right:1em;
	
}

#the_remote_content ul
{
	
	margin-top:1em;
}

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 100ms !important;
}
#main_page {
/*
position: absolute;
top: 0;
bottom: 0;
left:0;
right:0;
padding:1em;*/
}

.ui-listview li {
	white-space:normal !important;
}

#historical_data_tab
{
	/*height:90%;
    width:95%;
    position:absolute;
    border:1px red solid;
    padding:1em;*/
}

